<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JabRef/src/main/java/net/sf/jabref/JabRefMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
<listEntry value="=JabRef/src\/jmh\/java"/>
<listEntry value="=JabRef/src\/main\/gen"/>
<listEntry value="=JabRef/src\/main\/resources"/>
<listEntry value="=JabRef/src\/main\/java"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.jabref.JabRefMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JabRef"/>
</launchConfiguration>
